<?xml version="1.0" ?>

<config xmlns="urn:jboss:galleon:config:1.0" name="standalone.xml" model="standalone">
    <feature-group name="undertow-default-config"/>
    <layers>
        <include name="core-server"/>
        <include name="web-server"/>
        <include name="legacy-security"/>
        <!-- to get a complete installation if all.modules is not installed (inherit-packages=false) -->
        <include name="patching"/>
        <include name="tools"/>
    </layers>
</config>
